/* Style the container */
.image-container {
    position: relative;
    display: inline-block;

}

.demo-img{
    width: 170px;
    height: 200px;
}

/* Style the play button */
.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    opacity: 0; /* Initially hidden */
}

/* Show the play button on hover */
.image-container:hover .play-button {
    opacity: 1;
}

/* Style the video element */
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none; /* Initially hidden */
}

/* Show the video on hover */
.image-container:hover .video {
    display: block;
}