/* Universal */
body {
    font-family: 'Roboto Mono', monospace;
}


/* ========>header section<========== */

/* ------> Nav Bar <----- */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 120px;
}

.nav-img {
    width: 40px;
    height: 20px;
}

.nav-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-icon {
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 0px 10px;
    gap: 10px;
}

.nav-links>div>p>a {
    text-decoration: none;
}


/* -----> Header Banner <-------- */

.banner-container {
    display: flex;
    align-items: center;
    background-image: url("../images/Group\ 14.png");
    justify-content: space-between;
    padding: 25px 120px 10px 120px;
}

.banner-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.banner-img {
    width: 500px;
    height: 446px;
}

.btn-one {
    padding: 10px 20px;
    border-radius: 48px;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    color: #FFF;

}

.btn-two {
    padding: 10px 20px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;

}

.banner-btn {
    margin-top: 10px;
}



/* =======> Know More Section <======= */

.know-more-section {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding: 25px 120px 25px 120px;

}

.know-img {
    width: 600px;
    height: 400px;
}

.know-content{
    text-align: right;
}
















/* Media query For Mobile Device */

@media screen and (max-width: 576px) {
    .navbar {
        flex-direction: column;
        margin: 20px auto;
    }

    .nav-links {
        flex-direction: column;
    }




    .banner-container {
        flex-direction: column-reverse;
        margin-top: 25px;
        padding: 50px 50px;
    }

    .banner-img {
        width: 250px;
        height: 223px;
    }

    .banner-title {
        text-align: center;
        margin-top: 50px;
    }

    .banner-content {
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .banner-content-container {
        text-align: center;
        align-items: center;
    }





    .know-more-section {
        flex-direction: column;
        padding: 0px;
        padding-top: 25px;
    }

    .know-img {
        width: 300px;
        height: 200px;
    }

    .know-content{
        text-align: center;
        padding-right: 30px;
        padding-left: 30px;
    }

}